.main {
    width: 100%;

    background-position: 0px -1200px;
    height: 920px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap: 100px;

}


.main__img {
    position: absolute;
    width: 100%;
    height: 920px;
    object-fit: cover;
    z-index: -1;
    object-position: 0px -200px;
}

.blur {

    position: absolute;
    bottom: -165px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, #0b1d27, transparent);
    background-position: 0px -1150px;
    filter: blur(5px);
    margin: 0;

}

.section__1 {
    @include flex-align;
    flex-direction: row;
    justify-content: space-between;


    .section__1__left {
        @include flex-align;
        flex-direction: column;
        gap: 35px;
        padding-left: 50px;

        div {
            p {
                writing-mode: vertical-lr;
                color: white;
                font-family: 'Argent';
                font-size: $font-size__h4;
                margin: 0;


            }
        }

        div {

            i {
                @include flex-align;
                writing-mode: vertical-lr;
                color: white;
                font-family: 'PT Serif', serif;
                font-size: $font-size__h3;
                transition: 0.3s all;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                    text-shadow: 2px 2px 4px silver;
                    
                }
            }

        }
    }


    .section__1__center {
        .section__1__text {
            width: 800px;

            h2 {
                color: white;
                font-size: 70px;
                font-family: 'PT Serif', serif;
                letter-spacing: 4px;
                margin: 0;
                text-align: left;

                span {

                    text-shadow: 0px 0px 16px silver;
                }
            }
        }

        .section__1__text2 {
            width: 800px;

            .center__text {
                color: $font-color__title;
                font-size: $font-size__h4;
                text-align: left;
                font-family: "Argent";
                @include flex-align;
                justify-content: left;
                gap: 30px;
                margin-bottom: 20px;
            }

            .center__text::before {
                content: "";
                background-color: $font-color__title;
                width: 110px;
                height: 3px;
                border: 1px solid $font-color__title;
                border-radius: 10px;
            }


        }

        .section__1__button {
            @include flex-align;
            padding-top: 20px;

            button {
                width: 35%;
                height: 70px;
                background-color: $font-color__title;
                border-style: none;
                box-shadow: 0px 0px 10px #2e2e2e;
                border-radius: 5px;
                font-size: $font-size__h3;
                font-family: "Pt Serif";
                transition: 0.3s all;

                span {
                    background: linear-gradient(rgba(0, 0, 0, 0.726), #2e2e2eb9, rgba(78, 67, 1, 0.678));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: bold;
                    letter-spacing: 1px;

                }


            }

            button:hover {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.089), rgba(1, 59, 6, 0.479));
                box-shadow: inset 0px 0px 4px black;

                span {
                    background: linear-gradient(rgb(201, 190, 190), #f0eaea, rgba(126, 107, 2, 0.932));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: bold;
                    letter-spacing: 1px;

                }
            }

        }
    }

    .section__1__right {
        @include flex-align;
        padding-right: 50px;


        div {
            @include flex-align;
            flex-direction: column;


            ul {
                text-align: center;
                color: white;
                font-family: 'PT Serif', serif;
                font-size: $font-size__h4;
                margin: 0;
                font-weight: bold;
                position: relative;

                .item__1::before {
                    content: "";
                    height: 100%;
                    width: 10px;
                    background-color: rgba(236, 232, 228, 0);
                    border: 1px solid white;
                    position: absolute;
                    right: -20px;
                    bottom: 0px;
                    top: 0px;
                }

                .item__2::before {
                    content: "";
                    height: 100%;
                    width: 10px;
                    background-color: rgba(236, 232, 228, 0);
                    border: 1px solid white;
                    position: absolute;
                    right: -20px;
                    bottom: 0px;
                    top: 0;
                }

                .item__3::before {
                    content: "";
                    height: 100%;
                    width: 10px;
                    background-color: rgba(236, 232, 228, 0);
                    border: 1px solid white;
                    position: absolute;
                    right: -20px;
                    bottom: 0px;
                    top: 0;
                    z-index: 3;
                }

                .item__4::before {
                    content: "";
                    height: 100%;
                    width: 10px;
                    background-color: rgba(236, 232, 228, 0);
                    border: 1px solid white;
                    position: absolute;
                    right: -20px;
                    bottom: 0px;
                    top: 0;
                    z-index: 4;
                }
            }
        }

    }
}