@import "reset";
@import "header";
@import "main";
@import "section2";



@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');




@font-face {
    font-family: "Argent";
    src: url(../fonts/ArgentumSans-Light.otf);
}



.body{
    display: flex;
    flex-direction: column;
    gap: 150px;
}









